/* -------------------------------------
 * SASS code SPECIFIC TO your home page
 * (margin/padding adjustments, background image, etc..)
 * ------------------------------------- */

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 950px; /* or 950px */
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin bubblefun($rgb) {
  position: fixed;
  background-color: $rgb;
  max-width:100%;
  max-height: 80%;
  
  text-align: center;
  margin: 5% 2%;
}

.bubble {
  a:hover {
    text-decoration:none;

  }
  &-push {
    @include border-radius(100%);
    @include bubblefun(rgb( 35, 242, 250 ));
    vertical-align:middle;
    &:hover {
        background-color: rgb( 255, 248, 175);
        text-decoration:none;
    }
  }
  &-shadow {  
    @include border-radius(100%);
    @include bubblefun(rgb( 108, 203, 252 ));
    &:hover {
        visibility: hidden;
    }
  }
}
.choice {
  color: white;
  font-size: 28px;
  display: block;
  padding: 30% 0%;
  &:hover {
      color: rgb( 35, 242, 250 );
      text-decoration:none;
  }
}
.read {
  left:12%;
}
.write {
  left:37%;
}
.snack {
  right: 12%;
}