.contest-js
  - contest.posts.each do |post|
    = render 'posts/index', post: post

  - if contest.finished?
    .voted-js
      - if current_user.has_voted?(contest)
        .btn.btn-default.show-results-js
          Show results
        .results{style: 'display: none'}
          %ul
            - contest.users.each do |user|
              %li
                = show_votes_for(contest, user)

      %br/
      = vote_message(contest)
