%h1
  There is an unfinished contest for the word #{@unfinished_contests.first.topic.word.capitalize}!
%p= @unfinished_contests.first.topic.definition

.row.post-forms-js
  = render 'continue', contest: @contest, post: @post, name: @unfinished_contests.first.users.first.name.capitalize
