<h1>All contests</h1>
<ul>
  <% @contests.each do |contest| %>
    <li><%= link_to "Contest number #{contest.id}", contest_path(contest) %>. <br>The word was "<%= contest.word %>":</li>
    <ul>
    <% contest.posts.each do |post| %>
      <li><%= "#{post.user.name} wrote:" %> <br> <%= post.content %></li>
    <% end %>
    </ul>
  <% end %>
</ul>
