<h1><%= "Contest number #{@contest.id}. Word was: #{@contest.word}" %></h1>
<ul>
  <% @contest.posts.each do |post| %>
    <li>
      <% if post.user == current_user %>
        You wrote:
      <% else %>
        <%= "#{post.user.name} wrote:" %>
      <% end %>
      <br>
      <%= post.content %>
    </li>
  <% end %>
</ul>
