<div class="row">
    <div class="col-md-12 col-lg-12 hidden-xs hidden-s">
        <div class="banner">
            <span class="brand-tagline-left">ficticious</span>
            <%= link_to image_tag("pencilcake.png", :class => "logo-large"), "/", class:"img-responsive logo" %>
            <span class="brand-tagline-right" id="tagright">nibbling</span>
            <p class="brand-title-large">snackwrite</p>
        </div>
    </div>
    <div class="col-xs-12 col-s-12 visible-xs visible-s">
        <div class="banner">
          <%= link_to image_tag("pencilcake_s.png", :class => "logo-small"), "/", class:"img-responsive logo" %>
          <p class="brand-title-small">snackwrite</p>
        </div> 
    </div>
</div>