.row
  .col-md-12.col-lg-12.hidden-xs.hidden-s
    .banner
      %span.brand-tagline-left ficticious
      = link_to image_tag("pencilcake.png", :class => "logo-large"), "/", class:"img-responsive logo"
      %span#tagright.brand-tagline-right nibbling
      %p.brand-title-large snackwrite
  .col-xs-12.col-s-12.visible-xs.visible-s
    .banner
      = link_to image_tag("pencilcake_s.png", :class => "logo-small"), "/", class:"img-responsive logo"
      %p.brand-title-small snackwrite
