<div class="row">
  <div class="col-xs-4 col-md-4">
    <div class="bubble-shadow read"></div>
    <div class="bubble-push read">
      <%= link_to "read", contests_path, :class => "choice" %>
    </div>
  </div>
  <div class="col-xs-4 col-md-4">
    <div class="bubble-shadow write"></div>
    <div class="bubble-push write">
      <%= link_to "write", topics_path, :class => "choice" %>
    </div>
  </div>
  <div class="col-xs-4 col-md-4">
    <div class="bubble-shadow snack"></div>
    <div class="bubble-push snack">
      <%= link_to "snack", topics_path, :class => "choice" %>
    </div>
  </div>
</div>
