- if @vote.persisted?
  :plain
    $('.contest-js').replaceWith("#{escape_javascript(render('contests/show', contest: @contest))}");
    $('.voted-js').html("#{escape_javascript(render('vote', choice: @vote.post.user.name.capitalize))}");
- else
  :plain
    $('.voted-js').replaceWith("#{escape_javascript(render('vote', choice: nil))}");

