- if @vote.persisted?
  :plain
    $('.voted-js').html("#{escape_javascript(render('vote', contest: @contest, next_contest: @next_contest))}");
- else
  :plain
    $('.voted-js').replaceWith("#{escape_javascript(render('vote'))}");
